$text-color: #f4f4f4;
$bg-color: #640fc5;
$linkHover-color: #ff8700;

$size-0: 0rem;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;
$size-6: 3.5rem;
$size-7: 4rem;
$size-8: 4.5rem;
$size-9: 5rem;

$colorMapHex: (
  blue: #0e6cff,
  orange: #ff8700,
  green: #4caf50,
);

$sans-serif: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
